/* react-slick estilos por defecto */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.slick-slider {
  position: relative;
}

.slick-prev, .slick-next {
  z-index: 2;
}

.slick-dots {
  bottom: -30px;
}
